.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  padding-top: 12px;
  padding-bottom: 12px;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.menu-item {
  margin-right: 40px;
}

.menu-item__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  border-bottom: 1px solid #afafaf;
}

.navbar-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__title {
  font-size: 14px;
  font-weight: 400;
  color: #22bac1;
}

.container-hero {
  width: 100%;
  background-color: #000;
  background-image: url(../img/hero_bg.png);
  background-size: cover;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1170px;
  margin: auto;
  padding-top: 180px;
  padding-bottom: 100px;
}

.hero-about__title {
  width: 510px;
  display: block;
  color: #fffafa;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 50px;
  padding-top: -10px;
}

.hero-about__subtitle {
  display: block;
  color: #fffafa;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 50px;
}

.hero-bid {
  width: 370px;
  margin-bottom: 43px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.hero-bid__title {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 28px;
  margin-top: 40px;
}

.hero-form {
  margin-bottom: 43px;
}

.hero__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 260px;
  margin: auto;
}

.hero__form .input {
  margin-bottom: 15px;
  padding: 20px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  text-align: center;
}

.button {
  outline: none;
  background-color: #23bac1;
  color: #fff;
  padding: 25px;
  border: none;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button:hover {
  background-color: #fff;
  color: #23bac1;
  border: 1px solid #23bac1;
  cursor: pointer;
}

.item__text {
  width: 216px;
  color: #fff;
  margin-bottom: 28px;
  font-size: 15px;
  font-weight: 300;
}

.item__img {
  border: 2px solid;
  border-radius: 50%;
  color: #fff;
  padding: 10px 10px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.num {
  font-size: 16px;
  font-weight: 300;
}

.num-5 {
  padding: 10px 15px;
}

.text {
  width: 234px;
  margin-top: 40px;
  margin: auto;
}

.container-portfolio {
  width: 100%;
}

.portfolio-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.portfolio-cards__card {
  margin-bottom: 30px;
}

.portfolio-cards__card__text {
  display: block;
  width: 234px;
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
  margin: auto;
}

.portfolio-cards__card__title {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding-top: 13px;
  margin-bottom: 24px;
}

.portfolio__img {
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 35px;
}

.portfolio-title {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-top: 101px;
  position: relative;
}

.portfolio-title:after {
  position: absolute;
  bottom: 0;
  left: 49%;
  width: 31px;
  border-bottom: 2px solid #23bac1;
  content: "";
  text-align: center;
}

.portfolio-subtitle {
  display: block;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 79px;
}

.card {
  text-align: center;
  padding-bottom: 40px;
}

.card-list {
  padding-left: 0;
}

.card-list__item {
  list-style: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  position: relative;
}

.card-list__item:after {
  position: absolute;
  bottom: 0;
  left: 49%;
  width: 9px;
  border-bottom: 2px solid #23bac1;
  content: "";
  text-align: center;
}

.card-list__item:last-child:after {
  display: none;
}

.card {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__img::before {
  opacity: 1;
}

.list-buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button__portfolio {
  padding: 23px 26px;
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: none;
}

.button__portfolio:hover {
  background-color: #23bac1;
  color: #fff;
  border: 1px solid #23bac1;
  cursor: pointer;
}

.but-to {
  margin-top: 35px;
}

.but-three {
  margin-top: 6px;
}

.but-five {
  margin-top: 51px;
}

.but-six {
  margin-top: 170px;
}

.section-project {
  background-color: #f6f6f6;
  padding-bottom: 100px;
}

.project-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-about__text {
  margin-left: 83px;
}

.project-title {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  padding-top: 96px;
  margin-bottom: 70px;
  position: relative;
}

.project-title:after {
  position: absolute;
  bottom: 0;
  left: 49%;
  width: 31px;
  border-bottom: 2px solid #23bac1;
  content: "";
  text-align: center;
}

.project-subtitle {
  display: block;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 100px;
}

.project-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-about__title {
  display: block;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 43px;
}

.project-about__subtitleTop {
  display: block;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 18px;
}

.project-about__subtitleBottom {
  display: block;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 50px;
}

.project-about__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.scale, .size, .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 80px;
}

.button-price {
  padding: 26px 48px;
  background-color: #23bac1;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: none;
}

.button-price:hover {
  background-color: #fff;
  color: #23bac1;
  border: 1px solid #23bac1;
  cursor: pointer;
}

.scale-text, .size-text, .date-text {
  margin-bottom: 18px;
}

.arrow__left {
  display: inline-block;
}

.slider {
  width: 90%;
}

.slick-initialized, .slick-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-left: 5px;
  margin-right: 5px;
}

.project-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.arrows {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.arrow__left {
  margin-right: 120px;
}

.arrow__right {
  margin-left: 60px;
}

.all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-advantages {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url(../img/advantages_bg.png);
  background-size: cover;
}

.adv-title {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  padding-top: 108px;
  width: 675px;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
}

.adv-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 126px;
}

.adv-1__about, .adv-2__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1075px;
  margin: auto;
}

.adv-1__about {
  margin-bottom: 87px;
}

.adv-1__about-1, .adv-2__about-2 {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
}

.adv-1__about-1__img, .adv-2__about-2__img {
  margin-bottom: 41px;
  line-height: 20px;
  vertical-align: bottom;
  display: inline-block;
}

.adv-1__about-1__text {
  line-height: 20px;
  vertical-align: top;
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

.text-3 {
  padding-top: 10px;
}

.text-8 {
  padding-top: 8px;
}

.customers__text {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  padding-top: 100px;
  margin-bottom: 100px;
}

.customers-slider {
  width: 1168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 177px;
}

@impotr 'map' {}.section-footer {
  background-color: #000;
}

.container-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 58px;
  color: #fff;
  text-align: center;
}

.footer__text {
  width: 200px;
  font-size: 13px;
  font-weight: 300;
}

.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.footer__title {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #22bac1;
  text-decoration: underline;
}

.addres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__img {
  width: 14px;
  height: 18px;
  margin-right: 19px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.navbar {
  background-color: #e6e6e6;
  /* width: 100% */
  margin-top: 0;
}

.navbar-block {
  width: 1170px;
  margin: auto;
}

.container-portfolio, .container-project, .container-advantages, .container-customers, .container-footer {
  width: 1170px;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */