.navbar-block
  display: flex
  justify-content: space-between
  align-items: center
  text-align: right
  padding-top: 12px
  padding-bottom: 12px
  
  
  

.menu-list
  display: flex
  list-style: none 
  padding-left: 0
  
.menu-item
  margin-right: 40px
  &__link
    text-decoration: none
    font-size: 14px
    font-weight: 400
    color: #000
    border-bottom: 1px solid #afafaf

.navbar-phone
  display: flex
  flex-direction: column
  

.navbar__title
  font-size: 14px
  font-weight: 400
  color: #22bac1
